.App {
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.container {
    width: 400px;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border: 1px solid blue;
}

.current {
    background-color: red;
}

.tail {
    background-color: green;
}
